<link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">

<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo" href="/">
      <img src="/static/images/logo-mini.svg" alt="logo"style="width: 20px;"/>
      <span style="font-family: 'Secular One', sans-serif; color: #fff; font-size: 20px;">Yeogi-Jeogi-Yo</span>
    </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
    <div class="input-group">
      <div class="block">
        <ul id="ticker">
        </ul>
      </div>
    </div>
    <button type="button" class="btn btn-info font-weight-bold" onclick="location.href='/mango'" style="width: 180px;">Update / View</button>
  </div>
</nav>